
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column;
  margin: auto;
  
}

header,
footer{
background-color: #1F2937;
color: #F9FAF8;
/*this makes background color go beyond content*/
background-clip: padding-box;
/*ask about manually inputting all padding - I think I have to do this bc background-clip setting?*/
padding: 10px 50px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;

}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  padding: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.container{
  padding: 60px 50px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}


.hero{
  flex-wrap: wrap;
}

button{
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  padding: 3px 15px;
  border: 0px;
}

.hero-img{
  width: 400px;
  height: 220px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
}

.info-imgs{
  display: flex;
  flex-direction: row;
}

.image-1, .image-2, .image-3, 
.image-4{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.frame{
  width: 120px;
  height: auto;
}